body {
    width: 640px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

h1 {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}

.full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
    overflow: hidden;
    margin-top: 20px;
}

.displayed-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

button {
    border: 0;
    background: rgba(150, 150, 150, 0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
}

.thumb-bar {
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}

.thumb-bar img {
    display: inline-block;
    width: 100px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 5px;
}
